.View-color-black {color: #1b1b1b;}



.View-btn {
  background-color: #f9f9f9;
  color: #888;
  text-align: center;
  display: block;
}
.tab-view-active {
  background-color: #c71b31;color: #fff;
}


